/crashDumps
/downloads
/logs
/overwrite
/webcache
/ModOrganizer.ini
/profiles/Default/archives.txt
/profiles/Default/inittweaks.ini
/profiles/Default/lockedorder.txt
/profiles/Default/plugins.txt
/profiles/Default/settings.ini
/mods/01 Tamriel Data HD/PC_Data.bsa
/mods/01 Tamriel Data HD/Sky_Data.bsa
/mods/01 Tamriel Data HD/TR_Data.bsa
/mods/02 Tamriel Rebuilt/TR_Mainland.esm