/crashDumps
/downloads
/logs
/overwrite
/webcache
/ModOrganizer.ini
/mods/001 Tamriel Data HD/PC_Data.bsa
/mods/001 Tamriel Data HD/Sky_Data.bsa
/mods/001 Tamriel Data HD/TR_Data.bsa
/mods/003 Tamriel Rebuilt/TR_Mainland.esm