/crashDumps
/downloads
/logs
/overwrite
/webcache
/ModOrganizer.ini
/mods/Tamriel Data HD/PC_Data.bsa
/mods/Tamriel Data HD/Sky_Data.bsa
/mods/Tamriel Data HD/TR_Data.bsa
/mods/Tamriel Rebuilt/TR_Mainland.esm